<p id="notice"><%= notice %></p>

<h1>Fixed Incomes</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Entity</th>
      <th>Due date</th>
      <th>Time limit</th>
      <th>Tax</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fixed_incomes.each do |fixed_income| %>
      <tr>
        <td><%= fixed_income.category %></td>
        <td><%= fixed_income.entity %></td>
        <td><%= fixed_income.due_date %></td>
        <td><%= fixed_income.time_limit %></td>
        <td><%= fixed_income.tax %></td>
        <td><%= link_to 'Show', fixed_income %></td>
        <td><%= link_to 'Edit', edit_fixed_income_path(fixed_income) %></td>
        <td><%= link_to 'Destroy', fixed_income, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fixed Income', new_fixed_income_path %>
