<div class="col pb-4">
  <h1 class="border-bottom border-dark col pb-4 pt-3"> Painel de Gerenciamento</h1>
</div>

<div class="shadow-sm content-box">
  <div class="content-box-header">
    <h3 class="content-box-title">
      Aplicações em Produtos de Investimento
    </h3>
  </div>

  <div class="content-box-table table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Usuário</th>
        <th scope="col">Produto</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
        <% @application_dts&.each do |application| %>
        <tr>
          <td><%= application.user.email %></td>
          <td><%= application.direct_treasure.name %></td>
          <td><%= link_to "Visualizar", application, class: "btn btn-color" %></td>
        </tr>
        <% end %>

        <% @application_ifs&.each do |application| %>
        <tr>
          <td><%= application.user.email %></td>
          <td><%= application.investment_fund.name %></td>
          <td><%= link_to "Visualizar", application, class: "btn btn-color" %></td>
        </tr>
        <% end %>

        <% @application_fis&.each do |application| %>
        <tr>
          <td><%= application.user.email %></td>
          <td><%= application.fixed_income.entity %></td>
          <td><%= link_to "Visualizar", application, class: "btn btn-color" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="d-flex justify-content-center">
  <%= link_to "Voltar", products_path, class: "btn btn-color" %>
</div>