<%= form_with(model: application_fi, local: true) do |form| %>
  <% if application_fi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(application_fi.errors.count, "error") %> prohibited this application_fi from being saved:</h2>

      <ul>
        <% application_fi.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div class="text-size">

    <div class="pt-5 form-row justify-content-around">
      <div class="form-group col-md-5">
        <%= form.label :user_id, "Nome: " + current_user&.name.to_s %>
      </div>

      <div class="form-group col-md-5">
        <%= form.label :fi_id, "Emissora: " + fixed_income.entity.to_s %>
      </div>
    </div>

    <div class="pt-5 form-row justify-content-around">

      <div class="form-group col-md-5">
        <%= form.label :value, "Valor" %>
        <%= form.number_field :value, class: "form-control" %>
      </div>

    </div>

    <div class="form-row justify-content-center pt-5">
      <%= form.hidden_field :fi_id => :fi_id %>
      <%= form.hidden_field :user_id => current_user&.id %>
      <div class="pr-1">
        <%= form.submit "Criar", class: "btn btn-color" %>
      </div>
      <div class="pl-1">
        <%= link_to 'Voltar', products_path, class: "btn btn-color" %>
      </div>
    </div>
  </div>
<% end %>
