<%= form_with(model: application_dt, local: true) do |form| %>
  <% if application_dt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(application_dt.errors.count, "error") %> prohibited this application_dt from being saved:</h2>

      <ul>
        <% application_dt.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :direct_treasure_id %>
    <%= form.text_field :direct_treasure_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
