<div class="form-row">
  <div class="form-group col">
    <%= f.label :cep, 'CEP' %>
    <%= f.text_field :cep, {maxlength: 10, class: 'form-control', required: true}  %>
  </div>
  <div class="form-group col">
    <%= f.label 'Estado' %>
    <%= f.text_field :state, class: 'form-control', required: true  %>
  </div>
</div>
<div class="form-row">
  <div class="form-group col">
    <%= f.label 'Cidade' %>
    <%= f.text_field :city, class: 'form-control', required: true  %>
  </div>
  <div class="form-group col">
    <%= f.label 'Bairro' %>
    <%= f.text_field :neighbordhood, class: 'form-control', required: true  %>
  </div>
</div>
<div class="form-row">
  <div class="form-group col">
    <%= f.label 'Logradouro' %>
    <%= f.text_field :complement, class: 'form-control', required: true  %>
  </div>
  <div class="form-group col">
    <%= f.label 'Número' %>
    <%= f.number_field :number, {min: 0, max: 999, class: 'form-control', required: true}  %>
  </div>
</div>