<div class="form-row">
  <div class="form-group col">
    <h4> CEP </h4>
    <p><%= address.cep %></p>
  </div>
  <div class="form-group col">
    <h4> Estado </h4>
    <p><%= address.state %></p>
  </div>
</div>
<div class="form-row">
  <div class="form-group col">
    <h4> Cidade </h4>
    <p><%= address.city %></p>
  </div>
  <div class="form-group col">
    <h4> Bairro </h4>
    <p><%= address.neighboorhood %></p>
  </div>
</div>
<div class="form-row">
  <div class="form-group col">
    <h4> Logradouro </h4>
    <p><%= address.complement %></p>
  </div>
  <div class="form-group col">
    <h4> Número </h4>
    <p><%= address.number %></p>
  </div>
</div>