<div class="form-row">
  <div class="form-group col">
    <h3> CEP </h3>
    <p><%= address.cep %></p>
  </div>
  <div class="form-group col">
    <h3> Estado </h3>
    <p><%= address.state %></p>
  </div>
</div>
<div class="form-row">
  <div class="form-group col">
    <h3> Cidade </h3>
    <p><%= address.city %></p>
  </div>
  <div class="form-group col">
    <h3> Bairro </h3>
    <p><%= address.neighboorhood %></p>
  </div>
</div>
<div class="form-row">
  <div class="form-group col">
    <h3> Logradouro </h3>
    <p><%= address.complement %></p>
  </div>
  <div class="form-group col">
    <h3> Número </h3>
    <p><%= address.number %></p>
  </div>
</div>