<div class="form-row">
  <div class="form-group col">
    <%= f.label 'Código de Banco' %>
    <%= f.number_field :bank_code, class: 'form-control'  %>
  </div>
  <div class="form-group col">
    <%= f.label 'Agência' %>
    <%= f.number_field :agency, class: 'form-control'  %>
  </div>
</div>
<div class="form-group">
  <%= f.label 'Número' %>
  <%= f.number_field :number, class: 'form-control'  %>
</div>

<%= f.hidden_field :account_type_id, value: 1  %>