<p id="notice"><%= notice %></p>

<h1>Direct Treasures</h1>

<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>Name</th>
      <th>Due date</th>
      <th>Tax</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @direct_treasures.each do |direct_treasure| %>
      <tr>
        <td><%= direct_treasure.index %></td>
        <td><%= direct_treasure.name %></td>
        <td><%= direct_treasure.due_date %></td>
        <td><%= direct_treasure.tax %></td>
        <td><%= direct_treasure.value %></td>
        <td><%= link_to 'Show', direct_treasure %></td>
        <td><%= link_to 'Edit', edit_direct_treasure_path(direct_treasure) %></td>
        <td><%= link_to 'Destroy', direct_treasure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Direct Treasure', new_direct_treasure_path %>
