<p id="notice"><%= notice %></p>

<div class="border-bottom border-dark">
  <h1 class="pb-3">Tesouro Direto</h1>
</div>

<div class="text-size">
  <div class="padding-header form-row justify-content-around">
    <div class="col-md-5 d-flex flex-column">
      <p>Nome</p>
      <p class="text-center text-secondary">
        <%= @direct_treasure.name %>
      </p>
    </div>

    <div class="col-md-5 d-flex flex-column">
      <p>Indexador</p>
      <p class="text-center text-secondary">
        <%= @direct_treasure.index %>
      </p>
    </div>
  </div>

  <div class="pt-5 form-row justify-content-around">
    <div class="col-md-5 d-flex flex-column">
      <p>Taxa</p>
      <p class="text-center text-secondary">
        <%="#{@direct_treasure.tax} %" %>
      </p>
    </div>

    <div class="col-md-5 d-flex flex-column">
      <p>Preço Unitário</p>
      <p class="text-center text-secondary">
        <%="R$ #{@direct_treasure.value}" %>
      </p>
    </div>
  </div>
    
  <div class="d-flex justify-content-center">
    <div class="due-date pt-5 text-center">
      <p>Data de Vencimento</p>
      <p class="text-center text-secondary">
        <%= @direct_treasure.due_date %>
      </p>
    </div>
  </div>

  <div class="form-row justify-content-center pt-5">
    <div class="pr-1">
      <%= link_to 'Excluir', @direct_treasure, class: "btn btn-color", method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <div class="pl-1">
      <%= link_to 'Voltar', direct_treasures_path, class: "btn btn-color" %>
    </div>
  </div>
</div>
