<h1> Login </h1>

<%= form_with(local: true) do |form| %>
  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= form.submit "Logar", class: 'btn btn-outline-primary' %>
  </div>
<% end %>