<%= form_with(model: application_fi, local: true) do |form| %>
  <% if application_fi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(application_fi.errors.count, "error") %> prohibited this application_fi from being saved:</h2>

      <ul>
        <% application_fi.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :fixe_income_id %>
    <%= form.text_field :fixe_income_id %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
