<p id="notice"><%= notice %></p>

<h1>Application Fis</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Fixe income</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @application_fis.each do |application_fi| %>
      <tr>
        <td><%= application_fi.user_id %></td>
        <td><%= application_fi.fixe_income_id %></td>
        <td><%= application_fi.value %></td>
        <td><%= link_to 'Show', application_fi %></td>
        <td><%= link_to 'Edit', edit_application_fi_path(application_fi) %></td>
        <td><%= link_to 'Destroy', application_fi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Application Fi', new_application_fi_path %>
